.Roboto{
    font-family: 'Roboto', sans-serif;
	font-weight: 500;
    color: #676F8F;
    font-size: 12px;
}
.header {
    max-width: 100vw;
    background-color: #FFFFFF;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'Roboto';
    color:'#676F8F';
    border-bottom: 1px solid #E4E8F7;
}

.mobile-login{
   display: none;
   font-size: 14px;
     color: #6769FF; 
     margin: 0rem 1rem 1rem 1rem 
}
.mobile-login2{
   display: block;
   font-size: 14px;
     color: #6769FF; 
     margin: 0rem 1rem 1rem 1rem 
}
.logo {
    margin: 1rem;
}

.phone {
    margin-left: 1rem;
    height: 20px;
    width: 20px;
}

.imagenPhone{ 
    display: flex;
    margin-top: 1rem; 
    margin-right: 3rem;
   }

   .text-duda{
       display: block;
       margin: 0rem 1rem 1rem 1rem;
   }
   
@media screen and (max-width: 450px) {

    .mobile-login{
        display: block;
     }
     .mobile-login2{
        display: none;
     }
     .text-duda{
        display: none;
    }
   
}

